.trigger {
  position: relative;
  height: 48px;
}

.input {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1;
  height: 48px;
  background-color: #fff;
}

.input:hover {
  box-shadow: rgba(0,0,0, 0.1) 0 4px 12px;
}

.popover-content {
  background-color: #fff;
  box-shadow: rgba(0,0,0, 0.1) 0 4px 12px;
  z-index: 9999;
}

.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1;
  height: 48px;
  gap: 5px;
  background-color: #fff;
}

.select-trigger:hover {
  box-shadow: rgba(0,0,0, 0.1) 0 4px 12px;
}

.select-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-content {
  background-color: #fff;
  border-radius: 6px;
  width: var(--radix-select-trigger-width);
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 999;
  max-height: 300px;
  overflow: auto;
}

.input-search {
  background-color: #fff;
  padding: 10px 4px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
}

.select-item {
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.select-item:hover {
  background: #dadada;
}

.feriados {
  background-color: #000000;
}
